body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("background.jpg");
  background-size: 100% auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-converter {
  border-radius: 25px;
  opacity: 80%;
  background-color: rgb(165, 164, 164);
  padding: 5%;
}


.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.header {
  text-align: center;
  grid-column: 1 / -1;
}

.from {
  margin: auto;
}

.to { 
  margin: auto;
}

.buttonArea {
  margin: auto;
  text-align: center;
  grid-column: 1 / -1;
}

.result {
  text-align: center;
  grid-column: 1 / -1;
}

#convertButton {
  margin: auto;
  width: 150px;
  background-color: rgb(77, 209, 25);
  color: black;
  font-weight: bold;
}

.selectCurrency {
  width: 150px;
}