html {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currency-converter {
  width: 100%;
  margin: 0;
  border-radius: 25px;
  opacity: 80%;
  background-color: rgb(177, 175, 175);
  padding: 5%;
  display: grid;
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.header {
  text-align: center;
  width: 100%;
  padding-bottom: 3%;
  grid-column: 1 / -1;
}

#title {
  display: inline;
}

.from {
 margin: auto 10px;
}


.to { 
  margin: auto 10px;
}

.buttonArea {
  margin: auto;
  text-align: center;
  grid-column: 1 / -1;
}

.result {
  text-align: center;
  grid-column: 1 / -1;
}

#convertButton {
  margin: auto;
  width: 150px;
  background-color: rgb(84, 226, 28);
  color: black;
  font-weight: bold;
}

#convertButton:hover {
  background-color: rgb(81, 255, 58);
}

.selectCurrency {
  width: 150px;
}
@media screen and (max-width: 2000px) {
  .app {
    width: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .app {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  .app {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .app {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .app {
    width: 80%;
  }
  .currency-converter{
    grid-template-rows: repeat(9, auto);
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 10px 30px;
  }
  .from {
    width: 100%;
  }
  .currency-amount {
    width: 100%;
  }
  .to {
    width: 100%;
  }
  .selectCurrency {
    width: 100%;
  }
  .result {
    display: inline-block;
  }
}